<ul class="horizontal-list">
  {% for item in include.collection %}

    <li class="card">
      <img class="card-img-top" src="{{ item.image }}" alt="Card image cap">
      <a href="{{ item.url }}">
        <span class="header">
          {{ item.title }}

          {% if item.highlight %}
            <mark>{{ item.highlight }}</mark>
          {% endif %}

        </span>

        <hr />

        {% if item.desc != false %}
        <p class="body">
          {{ item.desc }}
        </p>
        <a href="#" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Link</a>
        {% endif %}
      </a>
    </li>

  {% endfor %}
</ul>
