<ul class="horizontal-list">
    {% for item in include.collection %}
  
      <li class="card">
        <a href="{{ item.url }}"> <img class="card-img-top" src="{{ item.image }}" alt="{{ item.title }}"></a>
        <a href="{{ item.url }}">
          <span class="header">
            {{ item.title }}
            <br>
  
            {% if item.highlight %}
              <mark>{{ item.highlight }}</mark>
            {% endif %}
  
          </span>
  
          <hr />
  
          {% if item.desc != false %}
          <p class="body">
            {{ item.desc }}
          </p>
          <a href="{{ item.url }}" class="btn btn-success btn-lg active" role="button" id="read-article" aria-pressed="true">Read Article</a>
          {% endif %}
        </a>
      </li>
  
    {% endfor %}
  </ul>
  