---
layout: default
---

<header>
{% if site.theme_config.show_navbar == true %}
  {% include horizontal_list.html collection=site.data.home.navbar_entries %}
  <div class="dashed"></div>
{% endif %}

  <h1>{{ site.title }}</h1>
  {% if site.theme_config.show_description == true %}
    <p>{{ site.description }}</p>
  {% endif %}
</header>

{{ content }}


{% if site.theme_config.show_projects == true %}
  <h2>{{ site.theme_config.home.title_projects }}</h2>
  <p>{{ site.theme_config.home.desc_projects }}</p>
  {% include card_list.html collection=site.data.home.projects %}
{% endif %}

<!-- PopDocs_H -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9236847887178276"
     data-ad-slot="4400385178"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

{% if site.theme_config.show_netsec == true %}
  <h2>{{ site.theme_config.home.title_netsec }}</h2>
  <p>{{ site.theme_config.home.desc_netsec }}</p>
  {% include card_list.html collection=site.data.home.netsec %}
{% endif %}

<!-- PopDocs_H -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9236847887178276"
     data-ad-slot="4400385178"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

{% if site.theme_config.show_htb == true %}
  <h2>{{ site.theme_config.home.title_htb }}</h2>
  <p>{{ site.theme_config.home.desc_htb }}</p>
  {% include htb_list.html collection=site.data.home.htb_entries %}
{% endif %}


<!-- PopDocs_H -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9236847887178276"
     data-ad-slot="4400385178"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>


{% if site.theme_config.show_certifications == true %}
  <h2>{{ site.theme_config.home.title_certs }}</h2>
  <p>{{ site.theme_config.home.desc_certs }}</p>
  {% include post_list.html collection=site.data.home.certifications %}
{% endif %}



<!-- PopDocs_H -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9236847887178276"
     data-ad-slot="4400385178"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

{% if site.theme_config.show_blog == true %}
  <h2>{{ site.theme_config.home.title_blog }}</h2>
  <p>{{ site.theme_config.home.title_description }}</p>
  {% include post_list.html %}
{% endif %}

<!-- PopDocs_H -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9236847887178276"
     data-ad-slot="4400385178"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>


{% if site.theme_config.show_wifisec == true %}
  <h2>{{ site.theme_config.home.title_wifisec }}</h2>
  <p>{{ site.theme_config.home.desc_wifisec }}</p>
  {% include card_list.html collection=site.data.home.wifisec %}
{% endif %}



{% if site.theme_config.show_tools == true %}
  <h2>{{ site.theme_config.home.title_tools }}</h2>
  <p>{{ site.theme_config.home.desc_tools }}</p>
  {% include card_list.html collection=site.data.home.tools %}
{% endif %}



{% if site.theme_config.show_footer == true %}
  <footer>
    <div class="dashed"></div>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}
